<%=link_to image_tag(activity.owner.photo, class: "img-circle"), "#", class: "pull-left" if activity.owner %> 
<div>
	<span class="pull-right small"><%= time_diff activity.created_at, Time.now%> ago</span>
	updated <strong><%=activity.trackable.name if activity.trackable%></strong>
	<br/>
	<small class="text-muted"><%=activity.created_at %></small>
</div>
