 <div class="modal-dialog">
  <div class="modal-content animated bounceInRight">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h3 class="modal-title text-center">iOffice Reminder</h3>
    </div>
    <div class="modal-body">
      <table class="table table-striped small">
        <tbody>
        <% @reminders.each do | reminder | %>
          <tr>
            <td><i class="fa fa-clock-o text-success"> </i></td>
            <td class="">
              <a href="<%=auto_url_for reminder.resource %>"><b><%=reminder.title%></b></a>
            </td>
            <td><%=reminder.body%></td>
            <td><%=time_diff reminder.date, Time.now%></td>
            <td><a href="#" class="btn btn-white btn-xs reminder-stopper" data-reminder="<%=reminder.id%>" ><i class="fa fa-times"></i></a></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>