<div class="ibox float-e-margins" >
	<div class="ibox-content">
		<h2>Search results: <span class="text-navy">"<%=params[:search]%>"</span></h2>
		<% @customers.each do |customer| %>
			<div class="hr-line-dashed"></div>
			<div class="search-result">
				<h3><%=link_to customer.search_title, admin_customer_url(customer)%></h3>
				<%=link_to customer.search_meta, admin_customer_path(customer), class: "search-link" %>
				<%=customer.search_text %>
			</div>
		<% end %>
	</div>
</div