
<div class="row">
	<div class="col-lg-3">
		<div class="ibox float-e-margins">
			<div class="ibox-content">
				<div class="file-manager">
					<h5>Төрөл</h5>
					<a href="#" class="content-control file-control active" data-content="all">All</a>
          <a href="#" class="content-control file-control" data-content="docs" >Documents</a>
          <a href="#" class="content-control file-control" data-content="media">Media</a>
          <a href="#" class="content-control file-control" data-content="images">Images</a>
         
          <div class="hr-line-dashed"></div>
          <h5>Хайлт</h5>
          <ul class="list-unstyled" style="padding: 0">
            <li class="m-b-sm">
            	<div class="input-group">
            		<span class="input-group-addon"><i class="fa fa-group"></i></span>
          			<%=collection_select :filter, :customer, Customer.all, :id, :name, {}, 
          				{class: "form-control chosen-select m-b", multiple: true, "data-placeholder": "Бүх харилцагч"}%>
          		</div>
            </li>
            <li class="m-b-sm">
            	<div class="input-group">
            		<span class="input-group-addon"><i class="fa fa-briefcase"></i></span>
          			<%=collection_select :filter, :matter, Matter.all, :id, :code, {}, 
          				{class: "form-control chosen-select m-b", multiple: true, "data-placeholder": "Бүх гэрээ"}%>	
          		</div>
            </li>
            <li>
            	<div class="input-group">
            		<span class="input-group-addon"><i class="fa fa-folder-open"></i></span>
            		<input type="text" class="form-control" placeholder="Файлын нэр:" id="filter_name" />
          		</div>
            </li>
          </ul>
          <div class="hr-line-dashed"></div>
          <a href="#" class="filter-button btn btn-block btn-info m-t btn-rounded"> 
          	<i class="fa fa-refresh m-r"></i>
          	Хайх
          </a>
          <div class="hr-line-dashed"></div>
          <h5 class="tag-title">Түлхүүр үг</h5>
          <ul class="tag-list" style="padding: 0">
          	<% ActsAsTaggableOn::Tag.all.order(taggings_count: :asc).each do |tag|%>
              <li><a href="#" class="filter_tags" data-tag="<%=tag.name%>"><%=tag.name%></a></li>
             <%end%>
          </ul>
          <div class="clearfix"></div>   
        </div>     
			</div>
		</div>
	</div>
	<div class="col-lg-9" id="documents_container">
		<div class="row animated fadeInRight">
			<div class="col-lg-12">
				<% @list.each do |doc| %>
					<div class="file-box">
						<div class="file">
				      <a href="<%=download_admin_document_url(doc)%>">
			          <span class="corner"></span>
			         	<% if ["image/jpeg", "image/png", "image/gif"].include? doc.file_content_type %>
				          <div class="image">
			              <img alt="image" class="img-responsive" src="<%=doc.file.url(:thumb)%>">
				          </div>
			          <% else %>
			          	<div class="icon">
              			<i class="fa fa-file"></i>
          				</div>
		          	<% end %>
		          </a>
		          <div class="file-name image">
	              <%=link_to doc.file_file_name.truncate(25), download_admin_document_url(doc) %>
	              <br/>
	              <small class="m-r"><span class="text-danger"><i class="fa fa-tag"></i> <%=doc.matter.code%></span></small>
	              <small><span class="text-navy"> <i class="fa fa-clock-o"></i> <%=doc.updated_at.strftime("%b %d, %y") %></span></small>
	              <br/>
	              <small><i class="fa fa-envelope"></i> <%=doc.title.truncate 100%></small>
		          </div>
				  	</div>
				  </div>
		  	<% end %>
			</div>
		</div>
	</div>
</div>

<script>

	$(document).ready(function () {
		$(".filter-button").click( function(){
			FilterDocs();
		});

		$(".filter_tags").click(function(){
			$(this).toggleClass("active");
			FilterDocs();
		});

		$(".content-control").click(function() {
			$(this).siblings().removeClass("active");
			$(this).removeClass("active").addClass("active");
			FilterDocs();
		});

		$(".tag-list").slimScroll({height: '200px'});
	});

	FilterDocs = function(){
		$.ajax({
			url: "/admin/documents/search",
			method: "get",
			data: {
				customers: $("#filter_customer").val(),
				matters: $("#filter_matter").val(),
				file_name: $("#filter_name").val(),
				tags: $.map($(".filter_tags.active"), function(elem) {return $(elem).data("tag");}),
				contents: $(".content-control.active").data("content")
			},
			success: function(data) {
				$("#documents_container").html(data);
			}
		});

	}
</script>