<div class="row animated fadeInRight">
	<div class="col-lg-12">
		<% @list.each do |doc| %>
			<div class="file-box">
				<div class="file">
		      <a href="#">
		          <span class="corner"></span>
		         	<% if ["image/jpeg", "image/png", "image/gif"].include? doc.file_content_type %>
			          <div class="image">
		              <img alt="image" class="img-responsive" src="<%=doc.file.url(:thumb)%>">
			          </div>
		          <% else %>
		          	<div class="icon">
            			<i class="fa fa-file"></i>
        				</div>
		          <% end %>
		          <div class="file-name image">
	              <%=link_to doc.file_file_name.truncate(25), "/" %>
	              <br/>
	              <small class="m-r"><span class="text-danger"><i class="fa fa-tag"></i> <%=doc.matter.code%></span></small>
	              <small><span class="text-navy"> <i class="fa fa-clock-o"></i> <%=doc.updated_at.strftime("%b %d, %y") %></span></small>
	              <br/>
	              <small><i class="fa fa-envelope"></i> <%=doc.title.truncate 100%></small>
		          </div>
		      </a>
		  	</div>
		  </div>
  	<% end %>
	</div>
</div>